<mat-card>
  <div class="displayInline">
  <h2>Dashboard</h2>
  <button mat-raised-button (click) = "ausloggen()">Ausloggen</button>
  <button mat-raised-button color="warn" (click) = "abmelden()">Abmelden</button>
</div>
<form class="fullWidth">
  <mat-form-field class="fullWidth">
    <mat-label>Titel:</mat-label>
    <input matInput placeholder="Titel" [(ngModel)]="pushBenachrichtigung.title" name="titel" required>
  </mat-form-field>

<mat-form-field class="fullWidth">
  <mat-label>Nachricht:</mat-label>
  <input matInput placeholder="Nachricht" [(ngModel)]="pushBenachrichtigung.body" name="nachricht" required>
</mat-form-field>

    <mat-radio-group [(ngModel)]="pushBenachrichtigung.type" name="typ" class="fullWidth marginBottom">
      <mat-radio-button value="lokal">Lokal</mat-radio-button>
      <mat-radio-button value="onesignal">One Signal</mat-radio-button>
    </mat-radio-group>

    <br />
    <br />
    <mat-form-field class="fullWidth">
      <mat-label>Zeitpunkt:</mat-label>
    <input matInput [(ngModel)]="pushBenachrichtigung.date" type="datetime-local" name="datum" required>
  </mat-form-field>


  <button mat-raised-button color="primary" (click) = "postNotification()">Senden</button>
</form>
</mat-card>


     

<!--
  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <ngx-timepicker-field [controlOnly]="true" [format]="24" [defaultTime]="'12:00'"></ngx-timepicker-field>
  </mat-form-field>
-->
  

