/* You can add global styles to this file, and also import other style files */
* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
    
    input {
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
    }

    .spacer {
        flex: 1 1 auto;
    }

    .fullWidth {
        width: 100%;
    }

    .marginBottom {
        margin-bottom: 10000px
    }

    mat-radio-button {
        margin-right: 16px;
    }
    
    mat-card {
        height: 100%;
    }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@import '~@angular/material/theming';
 
@include mat-core();
 
// Add your desired themes to this map. 
$themes-map: (
  indigo-pink: (
    primary-base: $mat-indigo,
    accent-base: $mat-pink,
  ),
 
  deeppurple-amber: (
    primary-base: $mat-deep-purple,
    accent-base: $mat-amber,
  ),
 
  pink-bluegrey: (
    primary-base: $mat-pink,
    accent-base: $mat-blue-gray,
  ),
 
  purple-green: (
    primary-base: $mat-purple,
    accent-base: $mat-green,
  ),
);
 
// Import the module and do the job: 
@import '~angular-material-dynamic-themes/themes-core';
@include make-stylesheets($themes-map);